<!--  File Name: viewtourney.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<script>
function toggleTable() {
    document.getElementById("uno").classList.toggle("hidden");

  let btnTrophy = document.querySelector("#btn");
  btnTrophy.addEventListener("click",() => btnTrophy.style.backgroundColor= "green");
}
  </script>

<%if (competitor.length == 8 ) { %>
    <h1 class="text-center">Tournament Tree</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team#</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        

                    </tr>
                </thead>
                <tbody>
                       
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" s class="text-center">

                           
                                <button id="btn" class="btn" onClick="toggleTable()" >
                                    <i class="fas fa-trophy" ></i>  </button>
                          </td>
                        </tr>
                            
                         
                        <% } %>

                   
                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                       

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 4; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                         
                        </tr>
                         <% } %>
                        
                      

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=4; count < 6; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=6; count < 8; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                         
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="hidden col align-self-center" id="uno">
            <table class="hidden table table-striped" >
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                         
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 4; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="hidden col align-self-center" id="dos">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                      


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<% } %>

<!------------------------------------------------------------------------------------------------------------------------------------------------->



<%if (competitor.length == 16 ) { %>
    <h1 class="text-center">Tournament Tree</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                      

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 1; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td id="winner1">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRound()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td>                           
                        </tr>

                        <% } %>

                        <% for(let count=1; count < 2; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td id="winner2">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundB()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td>                           
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                      

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 3; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td id="winner3">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundC()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=3; count < 4; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td id="winner4">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundD()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=4; count < 5; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td id="winner5">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundE()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=5; count < 6; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td id="winner6">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundF()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=6; count < 7; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td id="winner7">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundG()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=7; count < 8; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td id="winner8">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundH()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped" id="newmatch">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                       


                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">
                            </th>
                            <td id="newPart">

                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundI()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                         
                        </tr>
                        <tr>
                            <th scope="row">
                            </th>
                            <td id="newPart2">

                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundJ()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                         
                        </tr>

                   

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <tr>
                            <th scope="row">
                            </th>
                            <td id="newPart3">

                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundK()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                         
                        </tr>
                        <tr>
                            <th scope="row">
                            </th>
                            <td id="newPart4">

                            </td>
                            <td>
                             <button id="myButton" onclick="nextRoundL()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                         
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">
                            </th>
                            <td id="newPart5">
                            </td>
                            
                            <td>
                             <button id="myButton" onclick="nextRoundM()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                        </tr>
                        <tr>
                            <th scope="row">
                            </th>
                            <td id="newPart6">
                            </td>
                            
                            <td>
                             <button id="myButton" onclick="nextRoundN()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                        </tr>

                       

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">
                            </th>
                            <td id="newPart7">
                            </td>
                            
                            <td>
                             <button id="myButton" onclick="nextRoundO()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i>Primary</button>
                            </td> 
                        </tr>

                       

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Champion</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">
                            </th>
                            <td id="newPart8">
                            </td> 
                        </tr>

                       

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=8; count < 10; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-2 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=8; count < 10; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                         
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=10; count < 12; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                         
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-2">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=8; count < 10; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                       
                    </tr>
                </thead>
                <tbody>
                    <% for(let count=10; count < 12; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=12; count < 14; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                         
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team #</th>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                     


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=14; count < 16; count++) { %>
                        <tr>
                            <th scope="row">
                                <%= count + 1 %>
                            </th>
                            <td>
                                <%= competitor[count].fullname %>
                            </td>
                            <td style="width:100px; margin: auto;" class="text-center">
                                <a href="/newtourney" class="btn btn-primary">
                                    <i class="fas fa-trophy"></i>  </a>
                          </td>
                         
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<% } %>